/* Sedrick Neigbhors CIS-205-60 Intro to Web Development Semester Project 12/3/23 */

* {
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
}

.welcome-section {
    text-align: center;
    padding: 40px 0;
}
  
.welcome-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Jost', sans-serif;
}
  
.welcome-section p {
    font-size: 1.2em;
    color: #555;
    font-family: 'Sono', sans-serif;
}
  
.textbox,
.textbox2,
.textbox3,
.textbox4,
.textbox5 {
    text-align: center;
    margin-bottom: 125px;
}

#aboutMeimg,
#restOneimg,
#restTwoimg,
#restThreeimg,
#restFourimg,
#restFiveimg {
    height: auto;
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 25px; 
}

#aboutMeimg {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.three-column-container {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 40px;
}

.column {
    flex: 0 0 30%;
    box-sizing: border-box;
    margin: 10px;
    overflow: hidden; 
    border-radius: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.column img {
    width: 100%;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    font-family: 'Sono', sans-serif;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Jost', sans-serif;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    margin-bottom: 20px;
}

textarea {
    resize: vertical;
}

button {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: gray;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
    margin-bottom: 75px;
}

caption {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Jost', sans-serif;
}

thead th, tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    font-family: 'Jost', sans-serif;
}

thead th {
    background-color: #f2f2f2;
    color: #333;
}

tbody td {
    background-color: #fff;
}

tbody td:nth-child(n+6):nth-child(-n+7) {
    background-color: #e0f7fa;
}

tbody td:nth-child(6):not(:nth-child(n+8)),
tbody td:nth-child(7):not(:nth-child(n+8)) {
    background-color: #000 !important;
    color: #fff !important;
}

body {
    background-color: #f1f1f1;
    margin-bottom: 100%;
}

form {
    font-family: 'Sono', sans-serif;
}

h1, h2, li {
    font-family: 'Jost', sans-serif;
}

h2.page-headings{
    font-family: 'Jost', sans-serif;
    font-size: 3em;
    text-align: center;
    margin-top: 25px;
}

h2.video-heading{
    font-family: 'Jost', sans-serif;
    font-size: 1.85em;
    text-align: center;
    margin-top: 25px;
}

h3 {
    font-family: 'Sono', sans-serif;
    text-align: center;
}

p {
    font-family: 'Sono', sans-serif;
}

p.page-subheadings{
    text-align: center;
    margin-bottom: 50px;
}

header {
    width: 800px;
    margin-top: 50px;
    margin-bottom: 10px;
    height: 100px;
    float: left;
}

main {
    overflow: auto;
    padding: 10px;
    width: 80%;
    height: calc(100% - 80px);
    background-color: #f1f1f1;
    float: right;
}

main::-webkit-scrollbar {
    display: none;
}

nav {
    width: 20%;
    height: calc(100% - 80px);
    background-color: #f1f1f1;
    float: left;
    margin-top: 50px;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: gray;
}

nav a {
    transition: color 0.3s ease;
}

a:visited{
    color: black;
}

a:hover {
    color: gray;
}

a {
    transition: color 0.3s ease;
    text-decoration: none;
    color: black;
}

p strong a:visited {
    color: black;
  }

p strong a {
    color: black;
    text-decoration: none;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    color: white;
    background-color: #202020;
    font-size: 12px;
}

.clear {
    clear: both;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-container video {
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
}

.newsletter-section {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15%;
    text-align: center;
}

.newsletter-section h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.newsletter-section p {
    margin-bottom: 15px;
}

.newsletter-section form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.newsletter-section label {
    margin-bottom: 5px;
}

.newsletter-section input {
    margin-bottom: 10px;
}

.newsletter-section button {
    margin-top: 10px;
}

@media all and (max-width: 1024px) {
    .wrapper {
        width: 100%;
    }

    header {
        display: none;
    }

    main p {
        font-size: 18px;
    }

    nav {
        background-color: transparent;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    nav li {
        display: inline-block;
    }

    nav a {
        padding: 10px;
    }

    main {
        width: 100%;
        position: fixed;
        height: 75vh;
        top: 45%;
        left: 50%;
        padding-right: 50px;
        padding-left: 30px;
        margin-top: 3%;
        transform: translate(-50%, -50%);
    }
}

@media all and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

    nav ul {
        padding: 0;
        list-style: none;
        text-align: center;
    }

    nav li {
        display: inline-block;
        margin: 0;
    }
    
    nav a {
        padding: 15px;
        text-decoration: none;
        color: black;
        transition: color 0.3s ease;
    }

    header {
        display: none;
    }

    main {
        height: 80vh;
        top: 55%;
        left: 50%;
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
        font-size: 18px;
        transform: translate(-50%, -50%);
    }
    .column {
        flex: 0 0 100%;
        margin-bottom: 40px;
        margin: 10px auto 50px auto;
    }
    #aboutMeimg,
    #restOneimg,
    #restTwoimg,
    #restThreeimg,
    #restFourimg,
    #restFiveimg {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        float: none;
        margin-bottom: 40px;
    }
    .textbox,
    .textbox2,
    .textbox3,
    .textbox4,
    .textbox5 {
        text-align: center;
        margin-bottom: 75px;
    }
    nav {
        position: sticky;
        top: 0;
        z-index: 100;
        margin-top: 0;
    }
}
